.divLogin{
    text-align: center;
    padding: 30px;
    border-radius: 59px;
    width: 50%;
    height: 50%;

    display: block;
    margin: auto;
    /* centers image */
}

h2.Login{
    text-align: center;
    margin-top: 1rem;
    margin-bottom: 2rem;
}

.email{
    margin-bottom: 8px;
    border: 2px solid rgb(92, 92, 92);
    border-radius: 4px;
    padding: 6px 10px;
    /* vertical size */
    width: 90%;
}

.password{
    margin-bottom: 20px;
    border: 2px solid rgb(92, 92, 92);
    border-radius: 4px;
    padding: 6px 10px;
    /* vertical size */
    width: 90%;
}

.button{
    margin-bottom: 1rem;
    flex-direction: row;
    width: 155px;
    box-shadow: 2px 2px 5px grey;
    margin-top: 1rem;
}


.signUp{
    font-size: 22px;
    margin-bottom: 1rem;
}

.signUpButton{
    color: blue;
    /* signup button glows blue */
    box-shadow: 0px 2px blue; 
}
