.divLogin{
    text-align: center;
}

h2.Login{
    text-align: center;
    margin-top: 1rem;
    margin-bottom: 2rem;
}

.email{
    margin-bottom: 8px;
    box-shadow: 2px 2px #4b4b4b;
}

.password{
    margin-bottom: 20px;
    box-shadow: 2px 2px #4b4b4b;
}

.button{
    margin-bottom: 1rem;
    flex-direction: row;
    width: 155px;
    box-shadow: 2px 2px #4b4b4b;
}

.signUp{
    font-size: 22px;
    margin-bottom: 1rem;
}

.signUpButton{
    color: blue;
    /* signup button glows blue */
    box-shadow: 0px 2px blue; 
}
