.divLogin{
    text-align: center;
}

h2.Login{
    text-align: center;
    margin-top: 1rem;
    margin-bottom: 2rem;
}

.email{
    margin-bottom: 8px;
}

.password{
    margin-bottom: 20px;
}

.button{
    margin-bottom: 1rem;
    flex-direction: row;
    width: 155px;
}

.signUp{
    font-size: 22px;
    margin-bottom: 1rem;
}