.divSignup{
    text-align: center;
    padding: 30px;
    border-radius: 59px;
    width: 50%;
    height: 50%;

    display: block;
    margin: auto;
}

h2.Signup{
    text-align: center;
    margin-top: 1rem;
    margin-bottom: 2rem;
}

.username{
    margin-bottom: 8px;
    border: 2px solid rgb(92, 92, 92);
    border-radius: 4px;
    padding: 6px 10px;
    /* vertical size */
    width: 90%;
}

.email{
    margin-bottom: 8px;
    border: 2px solid rgb(92, 92, 92);
    border-radius: 4px;
    padding: 6px 10px;
    /* vertical size */
    width: 90%;
}

.password{
    margin-bottom: 20px;
    border: 2px solid rgb(92, 92, 92);
    border-radius: 4px;
    padding: 6px 10px;
    /* vertical size */
    width: 90%;
}

.avatar{
    /* may need to change name to file? */
    margin-bottom: 20px;
    /* will leave it uncentered, difficult ot implement */
}

.button{
    margin-bottom: 1rem;
    flex-direction: row;
    width: 155px;
    box-shadow: 2px 2px 5px grey;
}

.avatar{
    width: auto;
    box-shadow: 2px 2px 5px grey;
}

.image{
    box-shadow: 2px 2px 5px grey;
    margin-bottom: 1rem;
}

.signUp{
    margin-bottom: 1rem;
    margin-bottom: 1rem;
}