/* html,body{
    position: relative;
    margin:0;
    padding:0;
    overflow: auto;
    min-height: 100%;
} */

html{
    min-height: calc(100vh - 40px);
}

.col-sm{
    font-family:Arial
    /* changing font only works here for some reason */
}

.main-footer{

    color: rgb(78, 78, 78);
    /* color of text */
    background-color: white;
    padding-top:2em;
    padding-bottom:2em;
    /* padding-bottom: 1rem; */
    position:relative;

    bottom: 0;
    width: 100%;
    /* margin-top:auto; */
    text-align: center;
    /* overflow:auto; */
    /* margin-top: auto; */
    /* padding-top: inherit; */
    flex-shrink: 0;
    height: 40px;
}